body{
    background-color: #ffffff;
}

.form-row{
    margin: 20px;
}

.form-row .btn{
    margin: 20px;
}

.test-head{
    background-color: #fafafa;
    padding: 25px;
}

.test-body{
    padding: 10px 25px;
    background-color: #eaeaea;
}

.test-body button{
    margin-top: 20px;
}

.archive{
    text-align: right;
}

.archive h4{
    margin-top: 20px;
}

.table table{
    margin-top: 25px;
}

.archive-list h3{
    margin: 25px;
}
